<%= form_with(model: gamefication, local: true) do |form| %>
  <% if gamefication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gamefication.errors.count, "error") %> prohibited this gamefication from being saved:</h2>

      <ul>
      <% gamefication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Membro' %>
    <%= form.select :member_id, options_from_collection_for_select(Member.order(:name).all, "id", "name", params[:member_id]), {}, {:class => "form-control"} %>
   </div>

  <div class="form-group">
    <%= form.label :reason %>
    <%= form.text_field :reason, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :points %>
    <%= form.number_field :points, :class => "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label 'Tipo de pontos' %><br />
      <%= form.label :positive, "Positivo", :value => "true" %>
      <%= form.radio_button :positive, true, checked: true, :class => "radio" %>
      <%= form.label :autolyse, "Negativo", :value => "false"%>
      <%= form.radio_button :positive, false, :class => "radio" %>
    </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
