<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start %>
    <%= form.date_select :start, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :finish %>
    <%= form.date_select :finish, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary"%>
  </div>
<% end %>
