<p>
  <strong>Name:</strong><br>
  <%= @project.name %>
</p>

<strong>Members:</strong><br>
<% if @project.members.empty? %>
  O projeto ainda não tem nenhum membro.
<% else %>
  <% @project.members.each do |m| %>
    <%= m.name %>
    <% if admin_signed_in? %>
      <%= link_to dessociate_project_path(:member_id => m.id), method: :delete do |f| %>
        <i class="fa fa-close"></i>
      <% end %>
    <% end %>
    <br>
  <% end %>
<% end %>
</p>
<% if admin_signed_in? %>
<p>
  <strong>Alocar membros</strong><br>
  <%= form_tag do %>
    <%= select_tag :member_id,
    options_from_collection_for_select(Member.all.where.not(:id => @project.member_ids),
    :id, :name), {:class => "form-control"} %><br>
    <%= submit_tag "Alocar", :class => "btn btn-success" %>
    <% end %>
</p>
<% end %>
<br><%= link_to 'Voltar', projects_path, :class => "btn btn-danger", :role => "button" %>
