<h1>Projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Número de Membros</th>
      <th scope="col">Start</th>
      <th scope="col">Finish</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.members.size %></td>
        <td><%= project.start %></td>
        <td><%= project.finish %></td>
        <td><%= link_to 'Ver', allocate_project_path(project), :class => 'btn btn-info', :role => 'button' %></td>
          <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-primary', :role => 'button' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :role => 'button' %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4><%= link_to 'New Project', new_project_path, :class => 'btn btn-success', :role => 'button' if admin_signed_in? %></h4>
