<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>LTE</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top justify-between" role="navigation">
    <% if admin_signed_in? %>
      <span class="navbar-text">Logado como <%= current_admin.email%></span>
      <span class="navbar-text"><%= link_to 'Deslogar', destroy_admin_session_path, method: :delete, :class => "logout" %></span>
    <% end %>
  </nav>
</header>
