<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <% if member_signed_in? %>
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= current_member.avatar%>" alt="User Image" />
        </div>
        <div class="pull-left info">
          <p><%= current_member.name %></p>
          <p><%= link_to 'Deslogar', destroy_member_session_path, method: :delete %>
        </div>
      </div>
    <% end %>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Ver</li>
        <!-- Optionally, you can add icons to the links -->
      <li><a href="/projects"><i class='fa fa-link'></i> <span>Projetos</span></a></li>
      <li><a href="/members"><i class='fa fa-link'></i> <span>Membros</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
