<%= form_with(model: @membro, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, :class => "form-control" %>
  </div>
  <div class="custom-file">
  <%= form.label :avatar do |f| %>
    <%= form.file_field :avatar %>
  <% end %>
  </div>
  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
