<% if member_signed_in? %>
  <% unless current_member.id == @membro.id %>
    <% controller.redirect_to @membro, notice: "Só o usuário pode modificar seu perfil" %>
  <% end %>
<% end %>
<h1>Editar membro</h1>
<br>
<%= render 'form', member: @membro %>

<%= link_to 'Back', member_path(@membro), :class => 'btn btn-danger', :role => 'button' %>
