<h1>Membros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Numero de Projetos</th>
      <th scope="col">Pontos (Positivo|Negativo)</th>
    </tr>
  </thead>
  <tbody>
    <% @membros.each do |membro| %>
      <tr scope="row">
        <td><img src="<%= membro.avatar.thumb %>"></td>
        <td><%= membro.name %></td>
        <td><%= membro.email %></td>
        <td><%= membro.projects.size %></td>
        <td><%= contar_pontos(membro).join(" | - ") %></td>
        <td><%= link_to 'Detalhes', membro, :class => 'btn btn-info', :role => 'button' %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Adicionar pontos', new_gamefication_path(:member_id => membro.id), :class => 'btn btn-primary', :role => 'button' %>
          <td><%= link_to 'Destroy', membro, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :role => 'button' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h4><%= link_to 'Novo membro', new_member_path, :class => 'btn btn-success', :role => 'button' if admin_signed_in? %></h4>
