<img src="<%= @membro.avatar.large %>">

<p>
  <strong>Name:</strong>
  <%= @membro.name %>
</p>

<p>
  <strong>Projetos:</strong><br>
  <% if @membro.projects.empty? %>
    O membro não está em nenhum projeto.
  <% else %>
    <% @membro.projects.each do |projeto| %>
      <%= projeto.name %> <%= dessasociar_projeto(projeto.id) if admin_signed_in? %><br>
    <% end %>
  <% end %>
  <%= link_to 'Gerenciar Projetos', projects_path if admin_signed_in? %>

</p>

<p>
  <strong>Gamefications:</strong><br>
  <% if @membro.gamefications.empty? %>
    O membro não tem pontos ainda.
  <% else %>
    <% pos = 0 %>
    <% neg = 0 %>
    <% @membro.gamefications.each do |gamefication| %>
      <%= gamefication.reason %>,
      <% if gamefication.positive? %>
         <%= gamefication.points%> pontos.
        <% pos += gamefication.points %>
      <% else %>
         - <%= gamefication.points%> pontos.
        <% neg += gamefication.points %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to edit_gamefication_path(gamefication.id) do |f| %>
          <i class="fa fa-edit"></i>
        <% end %>|
        <%= dessasociar_game(gamefication.id) %><br>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'Adicionar pontos', new_gamefication_path(:member_id => @membro.id) if admin_signed_in? %>
</p>
<div class="btn-group" role="group">
  <%= link_to 'Edit', edit_member_path(@membro), :class => 'btn btn-primary' %>
  <%= link_to 'Back', members_path, :class => 'btn btn-danger' %>
</div>
